<!doctype html>
<html>
<head>
	<title>Hiking app</title>
	<link rel="stylesheet" href="/stylesheets/rtl.jquery.mobile-1.3.0.min.css" />
	<script src="/js/jquery1.8.3.js"></script>
	<script src="/js/rtl.jquery.mobile-1.3.0.min.js"></script>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>

	<section id="pageStudentList" data-role="page">
		<header data-role="header" data-position="fixed">
			<h1>
				<% if (hike != null) { %>
				<%= hike.name %>
				<% } %>		
			</h1>
			
		</header>
		<div class="content" data-role="content" id="maincontent">
			<% if (hike != null) { %>
			<% if (hike.avg_overall_rating != null) { %>
			<h3><span class="fa fa-star"></span> דירוג כללי: <%= hike.avg_overall_rating %></h3>
			<% } %>
			
			<h3><span class="fa fa-check"></span> <%= hike.completed_count %> אנשים סיימו את המסלול </h3>
			<h3><span class="fa fa-area-chart"></span> רמת קושי: <%= hike.Difficulty %></h3>
			<h3><span class="fa fa-clock-o"></span> זמן מסלול: <%= hike.time %> שעות</h3>
			<h3><span class="fa fa-road"></span> אורך מסלול: <%= hike.length %> ק״מ	</h3>
			<h3><span class="fa fa-map-marker"></span> אזור: <%= hike.area %></h3>
			<h3><span class="fa fa-file-text-o"></span> תיאור</h3>
			<p><%= hike.description %></p>
			<% if (hike.ranking_pages.length != 0) { %>
			<p>
				<h3><span class="fa fa-thumbs-o-up"></span> עמודי דירוגים</h3>
				<% for(var i=0; i<hike.ranking_pages.length; i++) {%>
					<% i%>
					<span><a href=<%= hike._id + '/rankingPage/'+ (i+1) %>><%= i + 1 %></a></span>
				<% } %>
			</p>
			<% } %>
				<a rel="external" data-role="button" href=<%= hike._id + '/addRank' %> >הוסף דירוג</a>
				<a rel="external" data-role="button" href=<%= hike._id + '/startHike' %> >התחל מסלול</a>

				<% } %>

			</div>
			<footer data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a rel="external" href="/home" ><span class="fa fa-home fa-2x"></span></a></li>
					<li><a rel="external" href="/profile" ><span class="fa fa-user fa-2x"></span></a></li>
					<li><a rel="external" href="/hikes" ><span class="fa fa-road fa-2x"></span></a></li>
				</ul>
			</div>
			<h1><i>Trekking</i></h1>
		</footer>
		</section>
	</body>
	</html>
